.home {
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  margin: 40px;
}
